.cart {
    margin: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* مهم ليكون في مساحة */
    justify-content: flex-start;
}

.total-price {
    text-align: center;
    color: #00A550;
    margin-top: 20px; /* مسافة من الأعلى */
}

.main-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 94%;
    flex-grow: 1; /* علشان ياخذ المساحة المتبقية */
}

.main-cart img {
    width: 300px;
    max-height: 20vh;
}

.cart-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item {
    width: 22%;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #00A550;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.quantity-controls {
    text-align: center;
}

.quantity-controls span {
    padding: 0px 35px;
    color: #00A550;
    font-size: 25px;
    font-weight: 600;
}

.quantity-controls .bt1,
.quantity-controls .bt2 {
    padding: 5px 20px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border: 0px;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 500;
}

.quantity-controls .bt1:hover {
    background-color: #a11212;
}

.quantity-controls .bt2:hover {
    background-color: #00A550;
}

.cart-price {
    font-weight: 600;
}

.remove-btn {
    padding: 5px 15px;
    background-color: #050101;
    color: white;
    font-size: 25px;
    margin-top: 12px;
    border: 0px;
    border-radius: 70px;
    width: 90%;
    cursor: pointer;
}

.remove-btn:hover {
    color: #000;
    background-color: #cf1f1f;
}

/* --- Responsive Design --- */

/* شاشة متوسطة: تابلت */
@media (max-width: 992px) {
    .cart-item {
        width: 45%;
    }
}

/* شاشة صغيرة: موبايل */
@media (max-width: 600px) {
    .cart {
        justify-content: space-between; /* توزيع العناصر بشكل ممتاز */
    }

    .main-cart {
        flex-grow: 0; /* لا يتمدد أكثر من اللازم */
    }

    .cart-item {
        width: 90%;
    }

    .main-cart img {
        width: 100%;
        height: auto;
    }

 
}
